$dark: #222222;
$dark-middle: #74766c;
$dark-light: #dcded6;

$green-dark: #1a7843;
$green: #36a968;
$green-middle: #dfedd9;
$green-light: #f0f8e9;

$background-blue: #e6f4f4;
$background-yellow: #faf8e5;
$beuge: #f3f1ed;
$red: #d15241;
